* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url('https://cdn.discordapp.com/attachments/1286732039244091535/1359458559598919782/noisy-gradients.png?ex=67f78df2&is=67f63c72&hm=032878b9af0be5fea6dbf5f4f0f43d577e0297eb289543432ca7557250e534b7&');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

#container {
  width: 100%;
  height: 100%;
}

.auth-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.auth-form form {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.auth-form form label {
  margin: 5px;
}

.auth-form form input,
.auth-form form select {
  border-radius: 2em;
  padding: 2.5px;
}
