html,
body {
  background-image: url("https://cdn.discordapp.com/attachments/1286732039244091535/1359320287656546304/image.png?ex=67f70d2b&is=67f5bbab&hm=1aa9a164137bbf9e68683a336bbd54c486c861892abce85d3801488729334528&");
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
}

#container {
  width: 100%;
  height: 100%;
}

.auth-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.auth-form form {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.auth-form form label {
  margin: 5px;
}

.auth-form form input,
.auth-form form select {
  border-radius: 2em;
  padding: 2.5px;
}
